* {
  box-sizing: border-box;
}

html {
  font-family: "Karla"
}

body {
  margin: 0;
}

/* MOBILE */

main {
  min-height: 100vh;
  display: flex;
  place-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1.25em 2em;
  background: #F5F7FB;
  background: url('./assets/blob1.png') no-repeat right top, url('./assets/blob2.png') no-repeat left bottom;
}

/* Intro page */

.intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-title, .intro-text {
  text-align: center;
}

.intro-title {
  margin-bottom: .5em;
  font-weight: 700;
  color: #293264;
  font-size: 31.25px;
  letter-spacing: 1.5px;
}

.intro-text {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 1.25em;
}

.btn {
  margin: 1em auto;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  color: #F5F7FB;
  background: #4D5B9E;
  width: 193px;
  height: 52px;
  cursor: pointer;
  display: block;
}

/* Quiz Page */

.quiz-page {
  /* display: flex;
  place-content: center;
  align-items: center; */
  max-width: 800px;
}


.question {
  border-bottom: 0.79px solid #DBDEF0;
  padding: 1em 0;
  max-width: 385px;
}

.question-title {
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
  margin: 0 0 1em 0;
  line-height: 1.4;
  text-align: center;
}

.answers {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  font-family: Inter;
  font-weight: 500;
  font-size: .725rem;
  border: 1px solid #4D5B9E;
  padding: .75em 1.25em;
  color: #293264;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 1em .5em 0;
  width: 100%;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .answer {
  background: #D6DBF5;
  border: 1px solid transparent;
}

input[type="radio"]:checked + .correct, .correct {
  background: #94D7A2;
  border: 1px solid transparent;
}

input[type="radio"]:checked + .user-wrong {
  background: #F8BCBC;
  color: #acacac;
  border: 1px solid transparent;
}

input[type='radio']:not(:checked) + .user-wrong {
  color: #acacac;
  border: 1px solid #acacac;
}

.check-answers-btn {
  margin-bottom: 0;
  font-size: .85rem;
}

.play-again-btn {
  margin: 1.25em 0;
  /* margin-top: 1em; */
  display: inline;
  width: initial;
  height: initial;
  padding: .75em 2em;
}

.error-message {
  position: absolute;
  margin: 0;
  color: #ff3333;
}

.score-message {
  display: inline;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #293264;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-message {
  margin-right: 1em;
}

/* Larger screens */

@media (min-width: 600px) {
  .question {
    max-width: 850px; 
  }
  .question-title {
    text-align: left;
  }
  .answer {
    width: auto;
  }
}